.navbar{
    display: flex;
}
.navlist{
    width: 50%;
    background-color: rgb(123, 255, 0);
    


}
.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
}
/* .navlist li a{

}  */

.rigthNav{
    background-color: rgb(138, 139, 28);
    width: 50%;
    
    
    

}